/*Color de Fondo y tipo de letra*/
body{background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 30px;}
/*Botones*/
.button {
    background-color: #0425ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #0425ff;} 
.button3 {background-color: #0425ff;} 
.button4 {background-color: #0425ff;} 
.button5 {background-color: #0425ff;} 
/*Posicion de Elementos*/
h1 { text-align: center}

h3 { text-align: left}

/*Flex Container*/
.flex-container {
    display: flex;
    background-color: rgb(248, 215, 237) ;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
  }
  
  .flex-container1 {
    display: flex ;
    background-color: rgb(49, 17, 229) ;
    flex-direction: row-reverse
  }
  
  .flex-container1 > div {
    background-color: #a4d6ef;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
 
  /*Media Quires*/

div.example {
    background-color: yellow;
    padding: 30px;
  }
  
  @media screen and (max-width: 400px) {
    div.example {
      display: none;
    }
  }
  
  body {
    background-color: rgb(232, 240, 107);
    color: black;
  }
  
  /* On screens that are 992px wide or less, the background color is blue */
  @media screen and (max-width: 200px) {
    body {
      background-color: rgb(255, 0, 238);
      color: white;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: rgb(248, 9, 152);
      color: white;
    }
  }
  
  /*Estilos a tablas*/
table { list-style-position: circle; float: top ;
}

  /*Estilos a tablas*/
  div.a {
    background-color: rgb(95, 35, 236);
  }
  
  @media only screen and (max-width: 600px) {
    div.a {
      background-color: rgb(207, 17, 182);
    }
  }


/*Pseudoelementos*/
  p::first-line {
    color: #2600ff;
    font-variant: small-caps;
  }

  p::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }

  /*Pseudoclases*/

  div.a {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 25px;
    text-align: center;
  }
  
  div:hover {
    background-color: rgb(253, 227, 254);
  }

  a.highlight:hover {
    color: #e50a0a;
    font-size: 22px;
  } 


  div.b {
    background-color: rgb(95, 35, 236); align-items: center; border-image-outset: 10px ;
  }


  
.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-element {
    width: 18rem;
    margin: 20px 10px;
  }
  
  .ocultar {
    display: none !important;
  }